<html xmlns:th="http://www.thymeleaf.org">
<title>login page</title>
<head>
    <meta content="text/html;charset=UTF-8" />
    <title>user login</title>
</head>
<body>
<form name="login" method="post">
    <table align="center">
        <tr>
            <td>login</td>
        </tr>
        <tr>
            <td>username：</td>
            <td><input type="text" name ="username" size="24"/></td>
        </tr>
        <tr>
            <td>password：</td>
            <td><input type="password" name="password" size="24"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="login" size="24"/></td>
        </tr>
    </table>
</form>
</body>
</html>
